<div class="row text-center col-md-6  panel-body">
	<fieldset>
    <legend>Buscar normas:</legend>
	<div class="col-xs-6 col-md-4">
	  	<a href="#/normas/federais">
	  		<p class="col-xs-6 col-md-3">Esfera Federal</p>
	  	</a>
	</div>
	<div class="col-xs-6 col-md-4">
	  	<a href="#/normas/estaduais">
	  		<p class="col-xs-6 col-md-3">Esfera Estadual</p>
	  	</a>
	</div>
	<div class="col-xs-6 col-md-4">
	  	<a href="#/normas/municipais">
	  		<p class="col-xs-6 col-md-3">Esfera Munipal</p>
	  	</a>
	</div>
	</fieldset>
</div>