<div class="row text-center col-md-6  panel-body">
	<fieldset>
    <legend>Buscar normas:</legend>
	<div class="col-xs-6 col-md-4">
	  	<a href="#/esfera/federal/normas" ng-click="clearStorage()">
	  		<p class="col-xs-6 col-md-3">Esfera Federal</p>
	  	</a>
	</div>
	<div class="col-xs-6 col-md-4">
	  	<a href="#/esfera/estadual/normas" ng-click="clearStorage()">
	  		<p class="col-xs-6 col-md-3">Esfera Estadual</p>
	  	</a>
	</div>
	<div class="col-xs-6 col-md-4">
	  	<a href="#/esfera/municipal/normas" ng-click="clearStorage()">
	  		<p class="col-xs-6 col-md-3">Esfera Munipal</p>
	  	</a>
	</div>
	</fieldset>
</div>