<div class="row">
	<form class="form-inline" style="padding: 10px;">     
    	<div class="panel panel-default panel-body">
        	<fieldset>
          	<legend>Filtros de Pesquisa</legend>

			<div class="btn-group btn-group-justified" role="group" >
				<label class="checkbox-inline"><input type="checkbox" value="">Lei</label>
				<label class="checkbox-inline"><input type="checkbox" value="">Decreto</label>
			</div>

          	<div class="form-group">
            	<input type="text" class="form-control" id="autenticar_login" placeholder="Numero da norma" ng-model="autLogin">
          	</div>

          <button type="submit" class="btn btn-primary" ng-click="autenticar()">Entrar</button>
        </fieldset>  
      </div>
    </form>
    <form class="form-inline" style="padding: 10px;">     
    	<div class="panel panel-default panel-body">
        	<div class="container">
		  		<table class="table table-striped">
				    <thead>
				      <tr>
				        <th>Firstname</th>
				        <th>Lastname</th>
				        <th>Email</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>John</td>
				        <td>Doe</td>
				        <td>john@example.com</td>
				      </tr>
				      <tr>
				        <td>Mary</td>
				        <td>Moe</td>
				        <td>mary@example.com</td>
				      </tr>
				      <tr>
				        <td>July</td>
				        <td>Dooley</td>
				        <td>july@example.com</td>
				      </tr>
				    </tbody>
				 </table>
		 	</div>		    
		</div>
    </form>
</div>