.div-box {
	width: 120px;
	height: 100px;

	border: 2px rgb(9, 25, 178) solid;

	padding: 0px;
	margin: 10px;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;

	background: rgb(108, 145, 250);

	color: rgb(4, 25, 163);
	font-size: 14px;
	font-weight: bolder;
	font-family: inherit;
	font-style: inherit;
	text-decoration: none;
	text-align: center;

	line-height: 6.2em;

}

.example-animate-container {
  list-style:none;
  margin:0;
  padding:0 10px;
}

.animate-repeat {
  line-height:30px;
  list-style:none;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active {
  opacity:1;
  max-height:30px;
}

.animate-repeat.ng-leave {
  opacity:1;
  max-height:30px;
}